body {
    margin: 0;
    padding: 0;
    background-image: url(./background.jpg);
    font-family: 'Istok Web', sans-serif;
}

.about-me-para {
    margin-top: 0;
    margin-left: 10%;
    padding-top: 0;
    display: inline;
    width: 50%;
    font-size: 1.5rem;
    text-align: justify !important;
    margin-block-start: 0;
    margin-block-end: 0;
}

.about-me-img {
    float: left;
    margin-right: 10%;
    margin-bottom: 5%;
}

.outter-frame {
    width: 50%;
    height: 65%; 
    margin-left: 5%; 
    margin-bottom: 5%; 
    padding-top: 2%; 
    padding-bottom: 5%;
}

.width-medium {
    width: 30%;
}

footer {
    border-style: solid none none none;
    border: 1rem 0 0 0;
    margin-top: 5%;
    height: 7%;
    border-color: #bbbbbb;
    width: 100%;
    background-color: #03506f;
    position: fixed;
    left: 0;
    bottom: 0;
 }

 .name {
     padding-left: 5%;
     font-size: 2rem;
 }

 .bg-gold {
     background-color: #d0e8f2;  
     border-color: #bbbbbb;
     border-width: medium;
     opacity: 10;
 }

 .bg-dblue {
     background-color: #0a043c;
 }

 
@media screen and (max-width: 768px) {
    .outter-frame, .width-medium {
        width: 80%;
    }
    
@media screen and (max-width: 400px) {
    .outter-frame, .width-medium {
        width: 100%;
    }
}


 